 /* Stars Background */
  
  .starscontainer {
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(
      315deg, 
    #172248 0%,
    #2C2254 25%, 
    #0F1C3F 50%,
    #203b80 75%,
    #2C2254 100%
    );
  }
  
  .starfog {
    background-image: url("/starfog.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  
  .starsbg {
    background-image: url("/stars.png");
  }
  
  .twinkle {
    background-image: url("/starry.png");
    animation: twinkle 5s -2s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  @keyframes twinkle {
    0% {
      background-position: 0 0;
      transform: translate3d(0, 0, 0);
    }
    50% {
      background-position: 0 -500px;
      transform: translate3d(0, 500px, 0);
    }
    100% {
      background-position: 0 0;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .starrybg {
    background-image: url("/starry.png");
    background-repeat: repeat;
    animation: stars 200s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1200vh;
  }
  
  @keyframes stars {
    25% {
        transform: translateX(-25%);
        transform: translateY(-15%);
    }
    50% {
        transform: translateX(-50%);
        transform: translateY(-40%);
    }
    75% {
        transform: translateX(-75%);
        transform: translateY(-65%);
    }
    100% {
        transform: translateX(-100%);
        transform: translateY(-90%);
    }
  }
  
  /* Search Bar */
  
  .content > input {
    z-index: 100;
    width: 400px;
    height: 35px;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 75px;
    padding: 5px;
  }

 /* Other */
  
  .main {
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    padding-bottom: 100px;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  
    .content {
      width: 100%;
    }
  
    .content > input {
      width: 150%;
    }
  }
  
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
  
  /* @media screen and (max-width: 600px) {
    .content {
      width: 75%;
    }
  } */
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
  }